[Desktop Entry]
Name=彼方的她-Aliya
Comment=Play this game on Steam
Exec=steam steam://rungameid/2704110
Icon=steam
Terminal=false
Type=Application
Categories=Game;
