[Desktop Entry]
Name=Cuphead
Comment=Play this game on Steam
Exec=steam steam://rungameid/268910
Icon=steam
Terminal=false
Type=Application
Categories=Game;
