[Desktop Entry]
Name=Slay the Spire 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/2868840
Icon=steam_icon_2868840
Terminal=false
Type=Application
Categories=Game;
